#mainWrapper{
    min-height:900px;
	background: #333;
	margin-left: 150px; 
	margin-right: 150px;
	box-shadow: 0 5px 5px 5px #FFFFFF;
	color: #FFF;
}

.index{
	background: url(../images/wadinh.png) ;
	margin-left: 40px;
	margin-right: 40px;
	padding-top:20px;
	border-radius: 10px;
	border: 1px solid #003;
	box-shadow: 0 0 5px 5px #222;
}

.text{
	text-align: left;
	color: black;
	margin-left: 180px;
	margin-right: 180px;
	margin-top:100px;
	position: relative;
	width: 600px;
	min-height: 420px;
	overflow-style:marquee-block;
	padding: 5px 5px 5p 5px;
}

ul li{
	list-style:none;
	}

.userInformation{
	width: 200px;
	position:relative;
	float:left;
	color: #03F;
	font-weight: bold;
	font-size:25px;
	font-family: Times New Roman;
	
	fongt-weight: bold;
	background: #FFF;
	padding-top:20px;
	height: 150px;
}

.story{
	margin-left: 150px;
	text-align: left;
	width: 600px;
	color: #000;
	position:relative;
}