@charset "utf-8";
/* CSS Document */
.informations{
	height: 200px;
	background: #000;
	color: #FFF;
	text-align: center;
}

.informations h1{
	font-size: 20px;
	font-weight:bold;
	height: 10px;
}

.informations ul{
	font-style:italic;
	font-family:Palatino Linotype;
}

p{
	font-weight: 700;
	}
	
span{
	font-weight: 100;
	font-family:Times New Roman;
	margin-left:10px;
	}