a {text-decoration: none;}


#bodyWrapper
{
	display:inline-block;
	border: 1px solid #FFF;
    width:960px;
	margin: 0 0 200px 200px;
	background: url(../images/wadinh.jpg) no-repeat;
	min-height: 500px;
	box-shadow:  0px 5px 5px 5px #ccc;
}

.linksTaskbar{
	background:#FFF;
	height: 30px
}

.linksTaskbar ul li{
	float: left;
	list-style:none;
	text-align: center;
	padding: 3px 3px;
	
}

.linksTaskbar ul li:hover{
	background: #0CF;
	border-radius: 7px;	
	opacity: 0.7;
}

.linksTaskbar ul li span{
	font-size:20px;
}

.linksTaskbar ul li a{
	font-family: Times New Roman;
	font-weight:600;
	font-size: 20px;
}

.display{
	width:960px;
	float:left;
	position:relative;
	margin-top: 60px;
}

#currentTopics{
	width: 600px;
	position: relative;
	float:left;	
	min-height: 500px;
	margin-top: 60px;
}

#markedTopics{
	margin-top: 40px;
	float:left;
	position:relative;
	width: 300px;
	height: 500px;
}

th{
	border: none;	
}

#markedTopics h1{
	background: #900;
	font-weight:bold;
	color: #000;
	font-family: Times New Roman;
	font-size: 28px;
	width: 280px;
	opacity: 0.85;
	margin-left: 20px;
	height: 50px;
	margin-top: 10px;
	padding-top: 14px;
	box-shadow: 0 2px 2px 0 #666;
	
}

.displayTopics{
	width: 600px;
	margin-bottom:20px
}

.displayTopics li{
	list-style:none;
	text-align: left;
}

.story{
	margin: 5px 5px 30px 30px ;
	height: 130px;
	}
	
#profilePicture{
	position:relative;
	float:left;
	height:130px;
	width:130px;	
	background: #FFF;
	border: 1px solid  #666;
	border-left: none;
}
	
#index{
	position: relative;
	float:left;
	width: 400px;
	background: #333;
	text-align: center;
	height: 130px;
	border: 1px solid  #666;
	color: #FFF;
	margin-left: 20px;
	opacity: 0.8;
}

#index ul li a{
	font-size:30px;
	font-weight:bold;
	color:#00F;
	}

#index ul{
	margin-left: 30px;
	margin-top: 10px;
}
	
ul{list-style:none;}a{text-decoration:none;}ul,li,a{margin:0;padding:0;}

#container {
  float: left;
  position: relative;  	
  width: 960px;
  height: 200px;
  border-bottom: 5px solid #00F;
  box-shadow: 0 5px 0 0 #CCC;
}
#createATopic{
	margin-top: 100px;
	margin-left: 550px;
	width: 200px;
	float: left;
	position: relative;	
	color: #FFF;	
}

#nameOfCategory a{
	color: #000;
	font-size: 18px;
	font-family:time new roman;
	}
#nameOfCategory{
	text-align: center;
	background: #FFF;
	height: 38px;
	width: 90px;
	border: 1px solid #444;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-right: none;
	
}
/***** menu *****/

#navmenu {  
  float:left;
  margin-bottom: 5px;
  margin-top:155px;
  border: none;
  
}

#listOfCategories{
	margin-top: 4px;
	height: 38px;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #FFF;

  
}

#listOfCategories a{
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

#listOfCategories:hover {
	background: url(../images/container-background.jpg);
	height: 38px;
	
}

#navmenu li {
	font-weight:500;
	font-family: tahoma;
	margin-top:2px;
	list-style: none;
  	float: left;
 	 position: relative;
 	 line-height: 30px; /* must match height of ul */
}

#navmenu li:hover span { color: #C89292; }
/* icon font */
#drop {
  opacity: 0;
  position: absolute;
  top: 43px;
  left: 0px;
  min-width: 150px;
  margin-left: -40px;
  background: #FFF;
}

#drop li{
	border-bottom: 1px solid #777;
	margin: 0;
	padding:0;
}

/* submenu links */
#drop li a { 
  color: #000;
  font-size: 14px;
  margin-left: 0px;
  font-family: calibri;
  font-weight: bold;
}

#drop li:hover{
	background: #222;	
}

/* height of submenu links */
#navmenu li:hover ul li {
  height: 30px;
  line-height: 30px;
}

/* submenu positioning */
#navmenu li:hover ul { opacity: 1; }
#drop li {
	  list-style:none;
	  float: none;
	  position: static;
	  height: 0;
	  line-height: 0;
	  background: none;
}


/* submenu transitions */

#drop { transition: all 1s; }
#drop li { transition: height 0.5s; }