.forumHead{
	position: relative;
	background-image:url(../images/background.png);
	width: 100%;
	border-image-outset: none;
	text-decoration: none;
	box-shadow:#000;
}

.notice{
	margin-top: 21px;
	margin-bottom: 21px;
	width:500px;
	float:left;
	position:relative;
	background-color: #94D9FE;
	opacity: 60%;
}
.forumHead a{
   	text-decoration:none;
	font-size: 14px;
	font-family: Times New Roman;
}
.topic{
	position:relative;
	float: left;
	width:100%;
}
.topic table tr th a{
	text-decoration:none;
	float: left;
}
.topic table{
	width:100%;
	border-style:none;
	float:left;
	position:relative;
}
.topic table thead tr th{
	border-radius: 5px;
	background-color:#03C;
	border: 2px;
	width: 700px;
	height: 40px;
}
.topic table thead tr td{
	border-radius: 5px;
	background-color:#03C;
	border: 2px;
	width: 250px;
}
.topic table tfoot tr td{
	border-radius: 5px;
	border: 1px solid #6CF;
	background-color: white;
}
.topic table tfoot tr th{
	border-radius: 5px;
	border: 1px solid #6CF;
	height: 30px;
	text-align:left;
	background-color: white;
}
.topic table tfoot tr th span{
	font-family:calibri;
	font-weight:lighter;
	font-size:14px;
}
.information{
	width:100%;
	position:relative;
	float:left;
	text-align:center;
	text-decoration:none;
}
.advertisment{
	position: relative;
	float: right;
	width: 300px;
}
.advertisment a{
	position:relative;
	float:right;
	width: 300px;
	border: 6px solid white;
}
.taskbarHead a{
	text-decoration:none;
	font-size:18px;
	font-family:calibri;
}
.taskbarHead tr{
	border:1px solid #666;
}
.taskbarHead th{
	border:1px solid #666;
}
.search{
	margin-left: 80%;
}
