/* CSS Document */
body
{

    background:url(../images/background.png) repeat;
}

#main
{
    width:960px;
    min-height:500px;
    padding:1px 0px;
    margin:auto;
}

header{
    width:100%;
    height:100px;
    background-color:#161616;
}

.loginForm{
    float:right;
    color:#CCC;
    padding-top:20px;
    padding-right:20px;
    font-size:20px;
    text-decoration:none;
    margin:auto;
}

.loginOk{
    float:right;
    padding-top:10px;
    padding-right:20px;
    margin:auto;
    text-align:center;
}

#nameDisplay{
    font-size:18px;
    color:white;
}
#logoutLink{
    font-size:16px;
    color:red;
    text-decoration:none;
}
#changeAccLink{
    font-size:16px;
    color:green;
    text-decoration:none;
}
#middleLine{
    height:5px;
    background-color:#CCCCCC;
}
.logo{
    width:82px;
    height:82px;
    margin-left:150px;
    margin-top:8px;
}

.styleBox{
    padding:5px 3px 3px 3px;
    border-radius:12px 0px 12px 0px;
    outline:none;
    background:#E6E6E6;
    margin-bottom:10px;
}
.styleBox:focus{
    background:#FFFFFF;
}
.styleBox:hover{
    background:#FFFFFF;	
}
.firstdiv{
    background:#444;
    width:100%;
    height:460px;
    background:#555;
    /*(background-image:url(../image/wall.jpg);*/	
}
.signupFrame{
    color:white;
    text-size:14px;
    text-align:center;
}
.underDiv{
    width:1080px;
    min-height:675px;
    padding:15px 0px;
    margin:auto;
}
.submitButton{
    border-radius:5px 5px 5px 5px;
    width:100px;
    height:30px;
    font-size:15px;	
}
#signUpLink{
    margin-left:350px;
    font-size:15px;
    color:white;
}
#yourSpaceCaption{
    text-decoration:none;
    outline:none;
    color:#090;
    font-size:40px;
    font-weight:700;
}
