.main{
	height:430px;
	background-color:#CCC;		
}
.topic{
	margin-left:9em;
	width:100%;
}

.topic .line1{
	height: 215px;
	width:100%;
	
}
.topic .line2{
	height: 215px;
	width:100%;
}

#tinhyeu{
	float:left;
	width:300px;
	margin:1.5em 0em;
	position:relative;
}
#tinhban{
	float:left;
	width:300px;
	margin:1.5em 0em;
	position:relative;
}
#giadinh{
	float:left;
	width:300px;
	margin:1.5em 0em;
	position:relative;
}
#hoctap{
	float:left;
	width:300px;
	margin:1.5em 0em;
	position:relative;
}
#cuocsong{
	float:left;
	margin:1.5em 0em;
	width:300px;
	position:relative;
}
#thamkin{
	float:left;
	width:300px;
	margin:1.5em 0em;
	position:relative;
}