@charset "utf-8";
/* CSS Document */
h1{
    color: orange;
	font-family:'Times New Roman';
	margin-left:100px;
    font-stretch: wider;
}
td{
    border: groove;
    width: 200px;
}
.changeinfo{
	border-radius: 5px;
	border: groove 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 20px;
	width: 120px;
	margin: auto;
	text-align: center;
}